/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --main-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --visability:inline-flex;
}
@media (prefers-color-scheme: dark) {
  :root{
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --main-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --visability:inline-flex;
}
}