.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --background-image: url(../images/cover-image-light.png);
  --headliner-color:#353430;
  --visability: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --background-image: url(../images/cover-image-light.png);
    --visability: none;
    --headliner-color:#353430;
  }
}

