.page.theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --main-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
  --visability:none;
}

@media (prefers-color-scheme: light) {
  :root{
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --main-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --background-image: url(../images/cover-image-light.png);
    --visability:none;
}
}