/* *{
  outline: 4px solid white !important;
} */
.page {
  /* grid */
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 6% 0;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /* general styles*/
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-heihgt, 130%);
  font-family: var(--main-font, monospace);
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #f1b2ce);
  /*  */

  background-image: var(--background-image, url(../images/cover-image.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  padding-inline: var(--main-padding, 2.6vi);
}
.container:first-child {
  padding-block-start: var(--main-padding, 2.6vi);
}
.container:last-child {
  padding-block-end: var(--main-padding, 2.6i);
}

.header__text,
.card__title {
  background-color: var(--accent-color, #ff0070);
  color: var(--main-color, #000028);
  font-weight: var(--accent-fw, 700);
}

/* decor corner */

.corner_decoration {
  position: relative;
}
.corner_decoration::before,
.corner_decoration::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.corner_decoration::before {
  border-inline-end: 1px solid var(--headliner-color, #ff0070);
  border-block-start: 1px solid var(--headliner-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.corner_decoration::after {
  border-inline-start: 1px solid var(--headliner-color, #ff0070);
  border-block-end: 1px solid var(--headliner-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

/* HEADER */
.header {
  grid-area: header;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 45px 0px;
}
.land__title {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  align-self: center;
}
.header > .land__title {
  padding-block-end: 10px;
}
.shadow__decoration {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}
.header__text {
  display: block;
  background-color: var(--accent-color, #ff0070);
  align-self: start;
  line-height: 130%;
}
/* record decoration*/
/* 12 2 2 2 2 2 2 2 2 2 2 2 2 2 2  2 2 2 2 2 2 2 2  2 2 2 2 2  2 2 2 2 2  2 2 2 2 2 2 2  2 2 2 2 2 2 2  2 2 2 2 2  2 2 2 2 2 2 2 2 2 2 */
.pseudo__rec {
  position: absolute;
  display: var(--visability, inline-flex);
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}
.pseudo__rec::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}
.pseudo__rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}
/* button */
.header__theme-menu {
  display: grid;
  align-items: end;
  justify-items: end;
  padding-block-end: 3.33vh;
}
.header__theme-menu-list {
  display: grid;
  gap: 13px;
}
.header__theme-menu-button {
  background-color: transparent;
  font-size: var(--main-font-size, 18);
  color: var(--headliner-color);
  padding: 3px 13px;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--headliner-color, #ff0070);
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--headliner-color-op, #ff0070);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}
/* MAIN */

/* grid layout start*/
.main,
.content__section,
.conntent__list,
.list-item__card,
.gallary__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.main {
  grid-area: main;
  gap: 50px 0px;
}
.content__section,
.conntent__list {
  gap: 20px 0;
}
.list-item__card,
.gallary__list,
.gallary__section {
  gap: 10px 0;
}
.section__solution {
  display: grid;
  gap: 20px 0;
}
.thin-text {
  font-weight: 400;
}

/* grid layout end*/
/* link */
.card_text-link {
  color: var(--text-color, #f1b2ce);
}
.card_text-link:hover {
  border-bottom: 1.5px solid currentColor;
}
.card_text-link:focus {
  outline: 0;
}
.card_text-link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}
/* main general section styles */
/* link */
.content__section-title {
  color: var(--headliner-color, #ff0070);
  font-weight: var(--accent-fw, 700);
  display: block;
}
/* gallary */
.gallary__image {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* FOOTER */
.footer {
  grid-area: footer;
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media */

/* general media */
@media (768px <= width) {
  /* page */
  .page {
    gap: 60px 0;
  }
  .header {
    gap: 50px;
  }
  .pseudo__rec {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }
  .header > .land__title {
    margin-inline-start: -2.5vi;
    margin-block-start: -2.5vi;
    padding-block-end: 0px;
  }
  .land__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  /* header */
  .header__text {
    max-inline-size: 50%;
    justify-self: end;
  }
  .header__title {
    margin-inline-start: -2%;
  }
  /* main */
  .main {
    gap: 80px 0;
  }
  /* text section */
  .text__section-why,
  .text__section-how {
    grid-template-columns: 0.5fr 1fr;
    gap: 0px 20px;
  }
  .text__section-what > .content__section-title {
    display: block;
    max-inline-size: 30%;
  }
  /* image section */
  .gallary__list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
  .gallary__list-item:nth-of-type(1) {
    grid-area: sunset;
  }
  .gallary__list-item:nth-of-type(2) {
    grid-area: ice-cream;
  }
  .gallary__list-item:nth-of-type(3) {
    grid-area: tape;
  }
  .gallary__list-item:nth-of-type(4) {
    grid-area: books;
  }
  .gallary__list-item:nth-of-type(5) {
    grid-area: street;
  }
  .gallary__section {
    gap: 20px 0;
  }
}

@media (width >= 1024px) {
  .header {
    gap: 70px 0;
  }
  .header > .land__title {
    margin-inline-start: -2vi;
    margin-block-start: -2vi;
  }
  .text__section-why,
  .text__section-how{
    grid-template-columns: 0.5fr 1fr;
    gap: 0px 10px;
  }

  .text__section-what > .conntent__list {
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px 20px;
  }
  .container,
  .container:first-child,
  .container:last-child {
    --main-padding: 2vi;
  }
  .header__theme-menu {
    margin: 0 auto;
  }
  .header__theme-menu-list {
    align-self: flex-start;
    display: flex;
    gap: 10px;
  }
  /* .footer > .land__title {
  } */
}
