/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-heihgt, 130%);
  font-family: var(--main-font, Arial, sans-serif);
  background-color: var(--bg-color, #000028);
}
.content {
  padding: 2.7vi;
}
/* COMPNENTS */
.accent-decor {
  color: var(--main-color, #000028);
  background-color: var(--accent-color, #ff0070);
  font-weight: var(--accent-fw, 700);
}
.shadow__modifier {
  color: var(--title-color, #db00ff);
  text-shadow: 5px 5px 0 var(--accent-color, #ff0070);
}
.section__title {
  color: var(--accent-color, #ff0070);
  font-weight: var(--accent-fw, 700);
  grid-area:question;
}
.content__list{
  grid-area:answer;
}
.hf__container {
  min-block-size: 100vh;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: 
  "head"
  "title"
  "description"; 
}
.heading {
  --main-line-heihgt: 82.5%;
  font-size: var(--title-font-size,116px);
  font-weight: var(--accent-fw, 700);
  line-height: var(--main-line-heihgt, 82.5%);
  grid-area: title;
  justify-self: center;
  align-self: center;
}
/* HEADER */

.header {
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.header__theme-menu {
 grid-area: head;
 justify-self: end;
}
.header_accent-text {
  grid-area: description;
  align-self: start;
  display: block;
  justify-self: end;
}
/* MAIN */
.contetnt__section {
  margin-block-start: 50px;
}
.contetnt__section:first-child {
  margin-block-start: 30px;
}
.section__title:last-of-type{
  margin-block-end: 21px;
}

/* .contetnt__section:first-child{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.6fr 1.4fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "hero-section-title answer"
    "hero-section-title answer";
} */

.gallary__image{
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}
.gallary__list{
display: grid;
gap: 10px;
}

/* FOOTER */

.footer{
  margin-block-start: 20px;
}

.content {
}
.content__text-title {
  block-size: 23px;
  min-inline-size: 355px;
  background-color: var(--accent-color, #ff0070);
  color: var(--main-color, #000028);
  font-weight: var(--accent-fw, 700);
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
}



/* MEDIA */
/* общие */
@media (768px <= width <= 1024px)   {  
  .hf__container {
grid-template-columns: 1fr 1fr; 
gap: 75px 0px; 
grid-template-areas: 
  "head head"
  "title title"
  ". description"; 
  }
  .heading {
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-size: var(--title-font-size,116px);
}
 .contetnt__section:first-child,
 .contetnt__section:nth-last-child(2){
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "question answer"; 

 }
}
/* для 768 */
@media ( 375px < width < 1024px) {
.heading{
  justify-self: start;
  margin-inline-start: -2vi;
  /* отриц мардж */
}
}
/* 1024 */
@media (width >= 1024px) {
  .content {
    padding: 2vi;
  }
  .hf__container {
    gap: 85px 0;
  }
  .heading{
    word-spacing: 40px;
  }
}


