:root{
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --main-font-size: 18px;
  --title-font-size:clamp(7.25rem, 5.8961rem + 6.1194vw, 9.8125rem);
  --main-line-heihgt: 130%;
  --title-line-heihgt: 82.5%;
  --main-color:var(--bg-color,#000028);
  --accent-fw:700;
}