:root {
  --main-font: "IBM Plex mono";
  --main-color: #000028;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --headliner-color:#ff0070;
  --main-font-size: 18px;
  --title-font-size: clamp(
    7.25rem,
    7.0115rem + 1.0178vw,
    7.5rem
  ); /* mob first */
  --main-line-heihgt: 130%;
  --title-line-heihgt: 82.5%;
  --accent-fw: 700;
  --main-padding: 2.5vi;
  --background-image: url(../images/cover-image-dark.png);
  --visability: inline-flex;
}
